h1{
    color:yellow;
}
*{
    
    border-radius:25px;
    
}
p,h2{
    color:rgb(124, 65, 177);
    text-align: center;

}
.header{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
}
.Grid{
    display:flex;
    background-color:bisque;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Footer{
    display:flex;
    justify-content: flex-end;
    background-color: coral;
}
body{
    background-color: rgb(224, 148, 148);
}
